$bg-gg: #DD4B39;
$bg-fb: #32508E;
$bg-twitter: #55ACEE;
$body-bg: #DDD;
$body-color: #222;
$border: #eee;
$border-post: #e8e8e8;
$input-form: #AAA;
$input-form-1: #16a085;
$language: #1e5799;
$login-box-bg: #FFF;
