@import 'variables/color';
.page-header {
  border-bottom: 1px solid $border;
  margin: 88px 0 20px;
  padding-bottom: 9px;
}

.sidebar-widgets {
  margin-top: 11.5%;
}

footer {
  margin-top: 3%;
}

.switch-language a {
  color: $language !important;
  display: inline-block !important;
}

.header-right {
  float: right !important;
  margin-right: -9%;
}

.navbar-right~.navbar-right {
  margin-right: -54px;
}

.content-index {
  margin-top: 8%;
}

.hr-page {
  border-top: 1px solid $border;
}
